:root{
    --Blue: hsl(246, 80%, 60%);
    
    --light-red-work: hsl(15, 100%, 70%);
    --Soft-blue--play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-selfcare: hsl(43, 84%, 65%);
    
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    }
html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif; 
}
body{
    background-color: hsl(226, 43%, 10%);
    height: 100%;
    width: auto;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh; 
}

.mycontainer{
    display: flex;
    justify-content: center;
}
.mainbox{
    display: flex;
    height: 73vh;
    width:90vh;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    margin-top:50px;
    margin-left: 50px;
    float: right;
    margin-bottom: -1em;   
}
.box1{
    width: 100%;
    background-color: rgb(104, 39, 189);
    height:40vh;
    border-radius: 10px;
    
}
.box1 img{
    display: block;
    border: 3px solid white;
    width: 75px;
    border-radius: 100%;
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}
/* .time{
    display: flex;
    flex-direction:column; 
}
.time button{
    background: none;
    border: none;
    font: inherit;
    animation: none;
    font-size: 20px;
    padding-top: 70px;
    margin-top: 20px;
} */
.main-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    margin-left: 10px;
    margin-top: 43px;
    float: left;
    
}
.same{

    height: 35vh;
    width:45vh;
    margin: 10px;
    border-radius: 15px;    
}
.grid2{
    background:hsl(145, 58%, 55%);

}
.grid3{
    background:hsl(264, 64%, 52%); ;
}
.grid4{ 
    background:hsl(43, 84%, 65%) ;
}
.grid5{
    background:hsl(15, 100%, 70%);
}

.work{
    width: 100%;
    height: 82%;
    background-color: hsl(235, 46%, 20%);
    margin-top: -3vh;
    border-radius: 14px;
}
.mywork{
    height:4rem;
    margin-left: 35vh;
}

.hrs{
    font-size: 45px;

    padding-right:3vh;

}
.workparagraph{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
.grid6{
    background:hsl(195, 74%, 62%) ;
}
.grid7{   
    background:hsl(348, 100%, 68%);
}