*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0e0d0d;
}
.container{
    background-color: #1C1B1B;
}
#homepage{
    height: 100vh;
    background-color:#1C1B1B;
}
.sub-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-areas: "lg lg nav nav nav nav nav nav nav nav"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right"
                         "left left left left left left right right right right";

    grid-template-rows: repeat(10, 10%);
}

.homepageleft{
grid-area: left;
background-color:  rgb(31, 26, 36);
}
.findme {
    display: flex 
}
.findme h2{
    display: flex;
    list-style: none;
    padding: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.homepageright{
    display: flex;
    justify-content: center;
    align-items: center;
grid-area: right;
background-color:  rgb(31, 26, 36);
}
.home1{
    position: fixed;
    width: 100%;
    grid-area: nav;
    background-color:  rgb(31, 26, 36);    
}
 .navigation{
    padding: 17px;
    display: flex;
    justify-content: end;
    background-color: #241b33;
    font-family: 'Courier New', Courier, monospace;
    
 }
a{
    color: white;
}
.navigation > ul{
display: flex;
}
.navigation > ul > li{
    list-style: none;
    padding-left: 20px;
    display: flex;
    justify-content: end;
} 
.logo{
    position: fixed;
    grid-area:lg;
    background-color: #241b33;
  
}
.pic1{
    background-color: #241b33;
    grid-area: pi;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .mylogoimg {
    display: block; 
    width: 44px;
    border-radius: 100%;
    height: 43px;
    padding: 5px;
}
 .mylogo {
    color: white;
    padding:7px;
    font-family: 'Courier New', Courier, monospace;
}
.homepageleft>p{
    font-size: 15px;
    color: white;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.homepageleft h1{
    font-size: 25px;
    color: white;
    padding: 20px;
    
}
.mypicbox
{
    width: 280px;
    height: 400px;
   border-radius: 20px; 
}

.best{
   padding: 10px;
   margin-left: 15px;
}

h2{
    font-size: 20px;
}
.navigation ul li a:hover{
    color: #F81414;
}
i{
    font-size:25px;
    color: white;
    padding:15px;
    margin-right: 10px;
}
.findvectors i:hover{
    transition: 0.2s;
    margin-top: 5px;
    color: #000000;
}
#features{
    height: 110vh;
    background-color: rgb(31, 26, 36);
    
}
a{
    text-decoration: none;
}
.container1{
    background-color: rgb(31, 26, 36);
}
.sub-container1{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas: "ff ff ff ff ff ff ff ff ff ff"
                         "ee ee ee ee ee ee ee ee ee ee"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo";
}
.feathead{
    grid-area: ff;
    color: #F81414;
    padding: 10px;
}
.feathead p{
    font-size: 13px;
}
.whatido{
    grid-area: ee;
    color: white;
    padding: 10px;

}
.featgrids{
    grid-area: fo;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "bs1 bs1 bs1 bs3 bs3 bs3 bs5 bs5 bs5 "
                         "bs1 bs1 bs1 bs3 bs3 bs3 bs5 bs5 bs5 "
                         "bs1 bs1 bs1 bs3 bs3 bs3 bs5 bs5 bs5 "
                         "bs1 bs1 bs1 bs3 bs3 bs3 bs5 bs5 bs5 "
                         "bs1 bs1 bs1 bs3 bs3 bs3 bs5 bs5 bs5 "
                         "bs2 bs2 bs2 bs4 bs4 bs4 bs6 bs6 bs6"
                         "bs2 bs2 bs2 bs4 bs4 bs4 bs6 bs6 bs6"
                         "bs2 bs2 bs2 bs4 bs4 bs4 bs6 bs6 bs6"
                         "bs2 bs2 bs2 bs4 bs4 bs4 bs6 bs6 bs6"
                         "bs2 bs2 bs2 bs4 bs4 bs4 bs6 bs6 bs6";
    grid-gap:15px;
    padding: 15px;
}
.bss1{
    background-color: #0a0811;
    grid-area: bs1;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    color: white;
    font-size: 14px;
}
.bss1:hover{
    transition: 0.4s;
    margin-top: 6px;
    background-color: #000000;
}
.bss2{
    background-color: #0a0811;
    grid-area: bs2;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 14px;
    color: white;
}
.bss2:hover{
    transition: 0.4s;
    margin-top: 6px;
    background-color: #000000;
}

.bss3{
    background-color: #0a0811;
    grid-area: bs3;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 14px;
    color: white;
}
.bss3:hover{
    transition: 0.4s;
    margin-top: 6px;
    background-color: #000000;
}

.bss4{
    background-color: #0a0811;
    grid-area: bs4;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 14px;
    color: white;
}
.bss4:hover{
    transition: 0.4s;
    margin-top: 6px;
    background-color: #000000;
}

.bss5{
    background-color: #0a0811;
    grid-area: bs5;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 14px;
    color: white;
}
.bss5:hover{
    transition: 0.4s;
    margin-top: 6px;
    background-color: #000000;
}

.bss6{
    background-color: #0a0811;
    grid-area: bs6;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 14px;
    color: white;
}
.bss6:hover{
    transition: 0.4s;
    margin-top: 6px;
    background-color: #000000;
}

.featgrids i{
    color:#F81414;
    font-size: 20px;
}
hr{
   color: #000000;
}

#portfolio{
    height: 130vh;
    background-color: rgb(31, 26, 36);   
}
.sub-container2{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 0.5fr);
    grid-template-rows: repeat(10, 0.5fr);
    grid-template-areas: "po po po po po po po po po po"
                         "rt rt rt rt rt rt rt rt rt rt"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo"
                         "fo fo fo fo fo fo fo fo fo fo";
}
.porthead{
    grid-area: po;
    color: #F81414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}

.myport{

    grid-area: rt;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.portgrids{
    grid-area: fo;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "ga ga ga vi vi vi ex ex ex "
                         "ga ga ga vi vi vi ex ex ex "
                         "ga ga ga vi vi vi ex ex ex "
                         "ga ga ga vi vi vi ex ex ex "
                         "ga ga ga vi vi vi ex ex ex "
                         "im im im gl gl gl st st st"
                         "im im im gl gl gl st st st"
                         "im im im gl gl gl st st st"
                         "im im im gl gl gl st st st"
                         "im im im gl gl gl st st st";
    grid-gap:20px;
    padding: 30px; 
    height: 25rem;
}
.gal{
    background-color: #0a0811;
    grid-area: ga;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
}
.vid{
    background-color: #0a0811;
    grid-area: vi;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
}
.ext{
    background-color: #0a0811;
    grid-area:ex;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    color: white;
}
.imag{
    background-color: #0a0811;
    grid-area: im;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    color: white;
}
.gale{
    background-color: #0a0811;
    grid-area: gl;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
}
.stand{
    background-color: #0a0811;
    grid-area: st;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    color: white;
}
 .bx{
    height: 60%;
    width: 14rem;
}
 h5{
    font-size: 12px;
    color: #F81414;
}
.portgrids p{
    font-size: 12px;
}
#resume{
    height: 180vh;
    background-color: rgb(31, 26, 36);
}
.sub-container3{
    height: 100%;
    background-color: rgb(31, 26, 36);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "rr rr rr rr rr rr rr rr rr rr"
                         "re re re re re re re re re re"
                         "ss ss ss ss ss ss ss ss ss ss"
                         "uu uu uu uu uu uu uu uu uu uu"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm"
                         "mm mm mm mm mm mm mm mm mm mm";
}
.sub-container3 p{
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}
.resumehead{
    grid-area: rr;
    color: rgb(185, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.myresume{
    grid-area: re;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.resumebuttons{
    background-color: #0a0811;
    grid-area: ss;
    padding-left: 12px;
    border-radius: 40px;
    padding: 12px;
}
.resumebuttons button{
    background-color: #0a0811;
    color: white;
    height: 50px;
    width: 21rem;
    border-style: none;
}
.buttonheadings{
    grid-area: uu;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
    padding-left: 30px;
    font-size: 25px;
}
.resumegrids{
    grid-area: mm;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "bs bs bs bs bs sr sr sr sr sr"
                         "bs bs bs bs bs sr sr sr sr sr"
                         "bs bs bs bs bs sr sr sr sr sr"
                         "as as as as as we we we we we"
                         "as as as as as we we we we we"
                         "as as as as as we we we we we"
                         "se se se se se fr fr fr fr fr"
                         "se se se se se fr fr fr fr fr"
                         "se se se se se fr fr fr fr fr";
    padding: 15px;
    padding-left: 150px;
    grid-gap: 30px;
    height: 35rem;   
    width: 50rem;
    font-size: 30px;
}
.bsc{
    background-color: #0a0811;
    grid-area: bs;
    padding: 5px;
    padding-left: 14px;
    border-radius: 15px;
    color: rgb(255, 248, 248);
    
}
.sr{
    background-color: #0a0811;
    grid-area: sr;
    padding: 5px;
    padding-left: 14px;
     border-radius: 15px;
    color: white;
}
.as{
    background-color: #0a0811;
    grid-area: as;
    padding: 5px;
    padding-left: 14px;
    border-radius: 15px;
    color: white;
}
.web{
     background-color: #0a0811;
    grid-area: we;
    padding: 5px;
    padding-left: 14px;
    border-radius: 15px;
    color: white;
}
.seco{
    background-color: #0a0811;
    grid-area: se;
    padding: 5px;
    padding-left: 14px;
    border-radius: 15px;
    color: white;
}
.front{
    background-color: #0a0811;
    grid-area: fr;
    padding: 5px;
    padding-left: 14px;
    border-radius: 15px;
    color: white;
}
#blog{
    height: 100vh;
    background-color: rgb(31, 26, 36);
}

